$brandYellowColor: #f05a28;
$baseOrange: #E65B2E;
$baseTeal: #0DAA97;
$baseDarkteal: #00324E;
$sidebarInactiveColor: white;
$sidebarBGColor: #00334c;
$sidebarActiveBGColor: $baseTeal;
$mainContentBGColor: #F2F2F3;
$resourceOuterBorderColor: #E2E4E8;
$resourceInnerBordercolor: #EFEFEF;
$defaultShadowColor: rgba(0,0,0,.2);
