@import "admin/colors";
@import "bootstrap/variables";

#main-navbar {
  position: relative;
  background-color: $baseDarkteal;
  margin-bottom: 0;
  border: 0;

  .navbar-header {
    .navbar-brand {
      height: 60px;
      padding: 10px 0 10px 40px;

      img, h1 {
        display: inline-block;
      }

      img {
        max-height: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 30px;
        border-right: 1px solid white;
      }

      h1 {
        margin: 0;
        padding-left: 30px;
        font-size: 26px;
        line-height: 24px;
        color: white;
        vertical-align: bottom;
        margin-bottom: 7px;
      }
    }
  }

  .current-session {
    .dropdown.open .dropdown-toggle {
      background-color: initial;
    }

    .dropdown-toggle {
      padding: 10px 15px 10px 15px;
      cursor: pointer;

      img {
        display: inline-block;
        max-height: 40px;
        margin-right: 5px;
      }
    }
  }

  .navbar-right {
    margin-right: 0;
  }

  @media (max-width: $screen-sm-min) {
    .navbar-header {
      .navbar-toggle {
        float: left;
        margin-left: 15px;
        margin-top: 13px;
        margin-right: 5px;
        border-color: white;

        .icon-bar {
          background-color: white;
        }
      }

      .navbar-brand {
        padding-left: 30px;

        h1 {
          display: none;
        }
      }
    }

    .navbar-right {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;

      .dropdown-toggle {
        text-align: right;
      }

      .dropdown-menu {
        background-color: white;
      }
    }
  }
}
