@import "admin/colors";
@import "bootstrap/variables";

#main-content {
  .main-content-tabs {
    width: initial;

    background-color: white;
    padding-top: 20px;
    overflow: auto;

    li {
      text-transform: uppercase;

      &.active a, &:hover a {
        background-color: transparent;
        border-bottom: 5px solid $brandYellowColor;
        font-family: Montserrat-Regular;
      }

      a {
        border-radius: 0;
        font-size: 16px;
        color: $gray-dark;
        font-family: Montserrat-Light;

        @media (min-width: $screen-sm-min) {
          font-size: 18px;
        }

        @media (min-width: $screen-md-min) {
          font-size: 22px;
        }
      }
    }
  }
}
