#main-navbar {
  position: relative;
  background-color: yellow;
  margin-bottom: 0;

  .navbar-header {
    img, h1 {
      display: inline-block;
    }

    h1 {
      line-height: 20px;
    }
  }
}
