@import "admin/colors";

#main-sidebar {
  position: absolute;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: $sidebarBGColor;
  box-shadow: -1px 0 1px rgba(0,0,0,.2) inset;

  .affix {
    top: 0;
  }

  h2 {
    margin-top: 17px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Montserrat-Light;
    letter-spacing: -0.7px;
    text-align: center;
    color: $sidebarInactiveColor;
  }

  .nav-pills {
    font-family: Montserrat-Light;

    li {

      &.active a, &:hover a {
        color: white;
        background-color: $sidebarActiveBGColor;
      }

      a {
        border-radius: 0;
        font-size: 16px;
        color: $sidebarInactiveColor;

        .wrapper {
          max-width: 150px;
          margin: auto;
        }

        .glyphicon {
          margin-right: 10px;
        }
      }
    }
  }
}
