@import "admin/colors";
@import "bootstrap/variables";

.resource-detail {
  margin: 15px;
  font-family: Montserrat-Light;

  .panel-heading {
    font-size: 16px;
    font-family: Montserrat-Regular;
  }

  .xs-static-map-preview {
    max-height: 150px;
  }

  .resource {
    padding: 15px;

    .image-wrapper {
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .placeholder-thumbnail {
        font-size: 60px;
      }
    }

    .resource-title {
      font-size: 22px;
      margin: 5px 0 0 0;
    }
    .resource-subtitle {
      margin: 0 0 5px 0;
    }
    .resource-secondary-title {
      font-size: 17px;
      margin: 5px 0 0 0;
    }

    .resource-row {
      font-size: 16px;

      .resource-label {
        color: $gray-light;
        letter-spacing: -0.5px;
      }

      .resource-value {
        margin-left: 5px;
        word-wrap: break-word;
      }
    }
  }
}

.resource-history {
  .media {
    .media-left {
      img {
        max-height: 60px;
        max-width: 60px;
      }
    }
    .media-body {

    }
  }
}

.resource-action-prompt {
  white-space: pre-line;
  margin-left: 15px;
  margin-right: 15px;
}

.attached-images {
  .attached-image {
    img {
      margin: auto;
    }
  }
}

.attached-images-in-form {
  .add_nested_fields {
    display: block;
  }

  .fields {
    display: inline-block;

    .file {
      width: 150px;
    }

    img {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      display: block;
    }
  }
}
