@import "admin/colors";

.resource-collection {
  padding-top: 15px;
  padding-bottom: 15px;

  .resource-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resource {
    border: 1px solid $resourceBorderColor;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
  }
}
