@import "admin/colors";
@import "bootstrap/variables";

// common:

.resource {
  .resource-state-icon {
    font-size: 30px;
    text-align: right;
    padding-top: 5px;
  }

  .resource-subtitle {
    color: $brandYellowColor;
    font-size: 12px;
    letter-spacing: -0.5px;
    font-family: Montserrat-Light;
    text-transform: uppercase;
  }
}

.resource-collection {
  .resource-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resource {
    border: 1px solid $resourceOuterBorderColor;
    background-color: white;
    border-radius: 3px;
    padding: 5px;

    .resource-row--base {
      border-bottom: 1px solid $resourceInnerBordercolor;
      font-family: Montserrat-Light;
    }

    .resource-row {
      @extend .resource-row--base;
      // because value span has indenting
      padding-right: 5px;

      overflow: auto;

      .resource-label {
        color: $gray-light;
        letter-spacing: -0.5px;
      }

      .resource-value {
        left: 10px;
        position: relative;
        margin-left: -5px; // because we're using spans
      }
    }

    .resource-body {
      padding-left: 10px;
      padding-right: 10px;

      .resource-row {
        padding: 10px 5px 10px 0;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .resource-head {
      @extend .resource-row--base;

      .resource-title-wrapper {
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .resource-image-wrapper {
        text-align: center;

        img {
          max-height: 80px;
          margin-bottom: 5px;
        }
      }

      .resource-title {
        font-size: 18px;
        line-height: 20px;

        @media (min-width: $screen-md-min) {
          font-size: 20px;
          line-height: 22px;
        }
      }
    }

    .resource-footer {
      border-top: 1px solid $resourceInnerBordercolor;

      // aesthetic
      margin-left: -15px;
      margin-right: -15px;

      padding: 15px 15px 10px 15px;
      text-align: center;

      .btn {
        font-size: 13px;
      }
    }
  }
}
