@import "admin/colors";
@import "bootstrap/variables";

.resource-collection {
  padding-top: 15px;
  padding-bottom: 15px;

  .resource-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resource {
    border: 1px solid $resourceBorderColor;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
  }

  .resource-row {
    border-bottom: 1px solid #efefef;
  }

  .resource-head {
    @extend .resource-row;

    .resource-title {
      font-size: 18px;
      padding-left: 0;

      @media (min-width: $screen-md-min) {
        font-size: 20px;
      }
    }
  }
}
