@import "admin/colors";

.resource-table-collection {
  padding: 10px;
  padding-top: 0;
  font-size: 15px;

  .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid $resourceInnerBordercolor;
  }

  .col--with-prefix {
    .prefix,
    .glyphicon {
      margin-left: -18px;
      margin-right: 3px;
    }
  }

  .resource-wrapper {
    background-color: white;
    padding: 10px;
    margin-top: 0;
    border: 1px solid $resourceOuterBorderColor;
  }

  .table-headers {
    font-family: Montserrat-SemiBold;
  }

  .table-body {

  }
}
